* {
   box-sizing: border-box;
}

body {
   font-family: 'Satoshi', sans-serif;
   font-weight: 400;
   font-size: 1rem;
   margin: 0;

   &.lock {
      overflow: hidden;
   }
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
   margin: 0;
   padding: 0;
   list-style-type: none; 
}

a,
button {
   background: none;
   color: inherit;
   cursor: pointer;
   list-style: none;
   border: 0;
   text-decoration: none;
   padding: 0;
}

.container {
   max-width: 1320px;
   margin: 0 auto;
   padding: 0 20px;
}

.logo {
   max-width: 64px;
   width: 100%;
}

.none {
   display: none;
}
