@font-face {
   font-family: 'Satoshi', sans-serif;
   src: url('../assets/fonts/Satoshi-Regular.woff') format('woff'),
   url('../assets/fonts/Satoshi-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'ClashDisplay', sans-serif;
   src: url('../assets/fonts/ClashDisplay-Medium.woff') format('woff'),
   url('../assets/fonts/ClashDisplay-Medium.ttf') format('truetype');
}

@font-face {
   font-family: 'ClashDisplay', sans-serif;
   src: url('../assets/fonts/ClashDisplay-Regular.woff') format('woff'),
   url('../assets/fonts/ClashDisplay-Regular.ttf') format('truetype');
}


