@font-face {
   font-family: 'Satoshi';
   src: url('../assets/fonts/Satoshi-Regular.woff') format('woff'),
   url('../assets/fonts/Satoshi-Regular.ttf') format('truetype');
   font-weight: 400;
}

@font-face {
   font-family: 'ClashDisplay';
   src: url('../assets/fonts/ClashDisplay-Regular.woff') format('woff'),
   url('../assets/fonts/ClashDisplay-Regular.ttf') format('truetype');
   font-weight: 400;
}

@font-face {
   font-family: 'ClashDisplay';
   src: url('../assets/fonts/ClashDisplay-Medium.woff') format('woff'),
   url('../assets/fonts/ClashDisplay-Medium.ttf') format('truetype');
   font-weight: 500;
}




