$dark-primary: #2A254B;
$primary: #4e4d93;
$light-grey:  #726e8d;;
$border-grey: #ebe8f4;
$white: #fff;
$border-dark: #cac6da;
$images-dark-chair: #f6f6f6;

$media_xxl: 1440px;
$media_xl: 1200px;
$media_lg: 992px;
$media_md: 768px;
$media_sm: 576px;
$media_min: 428px;
